@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 70px;
  width: 70%;
  background: #584f3f;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 15px;
  width: 75%;
  background: #f220b1;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.tomato {
  height: 25px;
  width: 50%;
  background-color: #c3300d;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.meatball {
  height: 70px;
  width: 70px;
  background: #f79147;
  border-radius: 50px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 45px;
  width: 65%;
  background: #ef6532;
  border-radius: 15px;
  border-bottom: solid 2px rgba(0,0,0,.1);
}

.pickle {
  height: 30px;
  width: 50%;
  background: #18b664;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2d9961;
}

.onion {
  width: 40%;
  background-color: #ab27d3;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.bun-bottom {
  height: 35px;
  width: 60%;
  background: #b17f2e;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 25px;
  width: 80%;
  background: #6a3f3f;
  border-radius: 20px 20px 200px 200px;
}
